<header class="post-list__header">
  <h1>PLANETS!🪐</h1>
</header>
<table>
  <thead></thead>
  <tbody>
    <%= for planet <- @planets do %>
        <tr>
          <td><%= planet.id %></td>
          <td><%= planet.mass %></td>
        </tr>
    <% end %>
  </tbody>
</table>
