<h1>Posts</h1>
<div>
  <h2><strong><%= @title %></strong></h2>

  <%= raw(@post) %>
</div>
</br>
<div>
  <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</div>
