/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

header {
  width: 100%;
  background: #fdfdfd;
  border-bottom: 0 !important;
  margin-bottom: 2rem;
}

.login-container {
  float: right;
  margin: 0 1em;
}

.home-nav {
  color: black;
}

.post-list {
  &__header {
    display: flex;
    justify-content: space-between;

    &-nav {
      display: flex;
      flex-direction: column;
      border-bottom: 0;
      margin-bottom: 3rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eaeaea;
    padding: 3rem 0.5rem 1.5rem;

    &:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        -5px -5px 5px rgba(0, 0, 0, 0.1);
      padding: 3rem 2rem 1.5rem;
    }

    &_post-title {
      font-weight: 500;
      font-size: larger;
    }

    td {
      border-bottom: 0;
      padding: 0;
    }

    &_post-controls {
      align-self: flex-end;
    }
  }
}
