<section class="phx-hero">
  <h1>How to design a website 101</h1>
</section>

<section class="row">
  <article class="column">
    <%= link("blog posts", to: Routes.post_path(@conn, :index)) %>
  </article>
  <article class="column">
    <%= link("see the planets", to: Routes.planet_path(@conn, :index)) %>
  </article>
</section>
